<footer>
    <div class="footer py-2 nav bot-border">
    </div>
    <div class="container-fluid text-center">
        <div class="line text-white">
            <ul class="nav navbar-nav nav-left">
                <li class="nav-item ">
                    <a class="nav-link h6 text-warning">За Нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h6 colour fot-pad" href="/news">За Нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h6 colour fot-pad" href="/">Карта на сайта</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h6 colour fot-pad" href="/show">Литература</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h6 colour fot-pad" href="/forum">Често задавани въпроси</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
