<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:fragment>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bees</title>
        <!--        &lt;!&ndash;[if !IE]> &ndash;&gt;-->
        <!--        <link href="StyleSheet.css" rel="stylesheet" type="text/css" media="only screen" />-->
        <!--        <link href="MobileStyleSheet.css" rel="stylesheet" type="text/css"-->
        <!--              media="only screen and (max-device-width: 480px) , only screen and (-webkit-min-device-pixel-ratio: 2) ,-->
        <!--               screen and (-webkit-device-pixel-ratio:1.5)" />-->
        <!--        <![endif]&ndash;&gt;-->

        <link rel="stylesheet" th:href="@{/css/reset-css.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/other_views/forms.css}">
        <link rel="stylesheet" th:href="@{/css/other_views/profile.css}">
        <link rel="stylesheet" th:href="@{/css/main_page/index_page.css}">
        <link rel="stylesheet" th:href="@{/css/profile/common.css}">
    </head>
</th:block>
