<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<th:block th:include="~{_shared/head}"/>
<body>
<header>
</header>
<main>
    <div class="box-info">
        <div class="column">
            <div class="al-left">
                <span class="x" onclick="openForm(0)">Обща информация</span>
            </div>
            <div class="al-left">
                <span class="x" onclick="openForm(1)">Моите пчелини</span>
            </div>
            <div class="al-left">
                <span class="x" onclick="openForm(2)">Моите теми (публикации)</span>
            </div>
            <div class="al-left">
                <span class="x" onclick="openForm(3)">Моите коментари</span>
            </div>
            <div class="al-left">
                <span class="x" onclick="openForm(4)">Настройки</span>
            </div>
        </div>
    </div>
    <!--    Моите пчелини-->
    <!--    <div th:include="~{_profile_files/common_info}"></div>-->
    <div class="test-class" id="bee-farm">
        <form action="/action_page.php" class="form-container">
            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

    <!--    Моите теми (публикации)-->
    <div class="test-class" id="my-publications">
        <form action="/action_page.php" class="form-container">
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <!--    Моите коментари-->
    <div class="test-class" id="my-comment">
        <form action="/action_page.php" class="form-container">
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
    <!--    Настройки-->
    <div class="test-class" id="settings">
        <form action="/action_page.php" class="form-container">

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <!--    Обща информация-->
    <div id="myForm">
        <div class="container-profile">
            <div class="col-common">
                <div class="l-name">
                    <table>
                        <tr sec:authorize="isAuthenticated()">
                            Потребителско име: <span sec:authentication="name"></span>
                        </tr>
                        <tr>
                            <td>Име: Георги Николаев Божинов</td>
                        </tr>
                        <tr>
                            <td>Телефонен номер: 35989 5 400 913</td>
                        </tr>
                        <tr>
                            <td>Тип пчелар: Хоби</td>
                        </tr>
                        <tr>
                            <td>Брой пчелни семейства: 20</td>
                        </tr>
                    </table>

                </div>
            </div>

            <div class="col-common2">
                <div class="l-name">
                    <table>
                        <tr>
                            <td>Град: София</td>
                        </tr>
                        <tr>
                            <td>Страна: България</td>
                        </tr>
                        <tr>
                            <td>Ред 1:</td>
                        </tr>
                        <tr>
                            <td>Ред 2:</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="container-bees-farm">
            <table>
                <tr>
                    <td>Пчелин 1</td>
                </tr>
                <tr>
                    <td>Пчелин 2</td>
                </tr>
                <tr>
                    <td>Пчелин 3</td>
                </tr>
                <tr>
                    <td>Пчелин 4</td>
                </tr>
                <tr>
                    <td>Пчелин 5</td>
                </tr>
            </table>
        </div>

        <!--        <div class="container-forum">-->
        <!--            <h5>Forum activity</h5>-->
        <!--        </div>-->
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/pop-up.js"></script>
</body>
</html>