.box-info.lead-box {
    position: absolute;
    height: 100%;
    width: 20%;
    background: #C09247;
}

.box-info2 {
    position: fixed;
    /*border-radius: 10px;*/
    /*margin-top: 20px;*/
    /*margin-left: 60px;*/
    height: 1000px;
    width: 100px;
    background: yellow;
    border: 1px solid red;
}

.box-head {
    background: #F4F3EA;
    color: #234465;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 20px;
}

.box-body {
    min-height: 288px;
    background-color: #FFF;
}


