.box-info.lead-box {
    position: fixed;
    /*border-radius: 10px;*/
    /*margin-top: 20px;*/
    /*margin-left: 60px;*/
    height: 1000px;
    width: 300px;
    background: aliceblue;
}

.box-info2 {
    position: fixed;
    /*border-radius: 10px;*/
    /*margin-top: 20px;*/
    /*margin-left: 60px;*/
    height: 1000px;
    width: 100px;
    background: yellow;
    border: 1px solid red;
}

.box-info {
    /*margin-bottom: 25px;*/
    /*border: 1px solid palegreen;*/
}

.box-head {
    background: #F4F3EA;
    color: #234465;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 20px;
}

.box-body {
    min-height: 288px;
    background-color: #FFF;
}

/*Below code is used by /profile/show*/
