<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head}"/>
<body>
<header>
    <header>
        <nav class="navbar navbar-expand-lg navbar-background  nav-col">
            <a class="navbar-brand text-white h4" th:href="/home">Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav row">
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" href="/families/create">Dead hive</a>
                    </li>

                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" href="/families/create">Stolen hive</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</header>
<main>
    <div class="text-center mb-3">
        <h4 class="text-white mt-2">Welcome to the arena, Predator</h4>
    </div>
    <hr class="my-3"/>
    <div class="container">
        <div class="text-center">
            <h2>User, you don't have a hero. Click below and create one.</h2>
            <a th:href="/families/dead_beeszcreate" class="btn btn-secondary">Create hero</a>
        </div>

    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>
